#banner-texto{
    display:flex;
    align-items: center;
}


@media (min-width: 600px){
.banner-topico{
    font-size: 48px;
    color: #ffffff;
    font-weight: bold;
    line-height: 1.1;
}

#banner-texto h1{
    font-size: 48px;
    color: #ffffff;
    font-weight: bold;
}

#banner-texto h3{
    color: #ffffff;
    font-size: 20px;
}

#btn-banner{
    margin-top: 20px;
    color: #ffffff;
    background-color: #1B4E86;
    border: none;
    padding: 15px;
    width: 150px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
}
}


@media (max-width: 600px){
    .banner-topico{
        color: #ffffff;
        font-weight: bold;
        line-height: 1.1;
    }
    
    #banner-texto h1{
        color: #ffffff;
        font-weight: bold;
    }
    
    #banner-texto h3{
        color: #ffffff;
    }
    
    #btn-banner{
        margin-top: 20px;
        color: #ffffff;
        background-color: #1B4E86;
        border: none;
        padding: 15px;
        width: 90%;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 16px;
    }
}

#banner-slider1{
    background-image: url("../img/Image5.png");
    background-size: cover;
    height: 582px;
}


#banner-slider2{
    background-image: url("../img/Slider\ 2.2.png");
    background-size: cover;
    height: 582px;
}
