.border-card{
    border: 1px solid #d8d8d8;
}


.card-body{
    position: relative;
}

.card-info{
    position: absolute;
    bottom:1px;
    margin-left:10px;
}

.card-text{
    padding: 10px;
}