#footer-linha{
    background-color:#071d41;
    padding: 50px;
    
}

.rede-social{
    display: flex;
    align-items:center;
    justify-content: end;
}

.rede-social-main{
    display: flex;
    align-items: center;
}

#endereco h4{
  color: #ffffff;
}