
.texto-noticia{
   position:absolute;
   bottom:0;
   padding: 10px;
   color:black;
   font-weight: bolder;
}

.noticias{
    border-radius: 15px;
    padding: 10px;
    
}

.noticias h4{
    font-weight: bold;
    font-size: 16px;
}

.noticias p{
    font-size: 14px;
}

#noticia-principal{
    border-radius: 15px;
}

.resumo{
    text-decoration: none;
    color: black;
}

.resumo:hover{
    text-decoration: underline;
    color:  #17385c;
}