#rodape{
  background-color:#263953;   
}

#redes-sociais{
    display:flex;
    justify-content: flex-end;
    align-items: center;
}

#redes-sociais i{
   padding: 5px;
}


.text-footer{
    color: #fff;
}